.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divForm{
  border-radius: 10px;
  background-color: rgb(162, 162, 162);
  padding: 20px;

}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.photo {
  width: 220px;
  height: 220px;
  margin-top: 10px;
}
.selectImage{
  display: flex;
  justify-content: flex-end;
  width: 55%;
}